body {
	padding: 0;
	margin: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 17px;
	line-height: 135%;
	color:	#777777;
	background: white;
  }

  /* .navbar {
	  height: 80px;
  } */

    .site-nav__main {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 80px;
	/* margin-left: 11%;*/
   } 

   h1 {
	width: 350px;
	height: 137px;
	padding-left: 20px;
	padding-top: 53px;
	margin-top: 0px;
	/* margin-left: 11%; */
	/* margin-right: auto; */
	font-size: 28px;
	color: white;
	text-align: center;
	background: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
   }

   .navbar-nav {
	   margin-top: 50px;
	   margin-bottom: 25px;
	   /* padding-bottom: 22px; */
   }

   .col-lg-6 {
	flex: 0 0 20%;
	margin-left: 5%;
	}

   .img-responsive {
	height: 75px;
	width: 75px;
	margin-left: 0px;
	margin-right: 10%;
	float: left;
	align-self: center;
	/*padding-left: 35px;*/
	}

	#textbox {
		width: 600px;
		height: 105px;
	}

	@media screen and (max-width: 768px)
	{
	 .img-responsive {
		 height: 100px;
		 width: 100px;
	 }
	}

	@media screen and (max-width: 768px)
	{
	 #textbox {
		 width: 450px;
	 }
	}

   @media screen and (max-width: 640px)
   {
	h1 {
		width: 660px;
	}
   }

   @media screen and (max-width: 640px)
   {
	.img-responsive {
		height: 150px;
		width: 150px;
	}
	}

	@media screen and (max-width: 640px)
	{
	 #textbox {
		 width: 300px;
	 }
	}


   .display-4 {
	/*width: 350px;*/
	height: 100px;
	/*padding-left: 20px;*/
	padding-top: 35px;
	/*margin-left: 0%;*/
	font-size: 28px;
	color: #4aaaa5;
	text-align: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
   }

   /*.container {
	   margin: 0px;
	   border: 0px;
	   padding: 0px;
   }*/

   /*.navbar {
	   /*width: 1450px;*/
	   /*margin-top: 0px;
   }*/

   /*.navbar-brand {
	   height: 97px;
	   margin-top: 0px;
	   /*margin-left: 10%;   
   }*/

   .jumbotron {
	   height: 600px;
	   background-image: url(../images/concrete-texture/concrete-texture.png);
	   margin-bottom: 0px;
   }

   .jumbotron_p {
	height: 1900px;
	background-image: url(../images/concrete-texture/concrete-texture.png);
	margin-bottom: 0px;
   }

   .about-me__container {
	background: white;
	height: 500px;
	/*width: 831px;*/
	margin-left:14%;
	margin-right:14%;
	border: 1px #cccccc solid;
	/* padding-left: 5%; */
	/* padding-right: 5%; */
	}

	.portfolio__container {
		background: white;
		height: 2000px;
		/*width: 831px;*/
		margin-left:14%;
		margin-right:14%;
		border: 1px #cccccc solid;
		/* padding-left: 5%; */
		/* padding-right: 5%; */
		}

	.nav-link {
		color: #777777;
	}

    a:default {
		color: #777777;
	}

    a:hover {
    color: rgb(214, 22, 22);
	}

	a:active {
		color: yellow;
	}


    .divider {
		height: 3px;
		/*width: 1450px;*/
		background-color: #cccccc;
	}

	.display-4 {
		margin-left: 7.5%;
	}


	.my-4 {
		height: 3px;
		/*width: 730px;*/
		background-color: #cccccc;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 70px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.col-lg-7 {
		margin-left: 5%;
	}

	.row {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 50px;
	}

	.img-family {
		height: 250px;
		width: 350px;
		/* margin: 0 auto; */
		float: left;
		align-self: center;
		padding-top: 150px;
		padding-left: 35px;
		margin-top: 150px;
	}

	#autobiography {
		height: 200px;
		width: 750px;
		margin: 0 auto;
		float: left;
		align-self: center;
		padding-top: 50px;
		padding-left: 150px;
	}

	#autobiography2 {
		height: 100px;
		width: 800px;
		align-self: center;
		padding-top: 50px;
		padding-left: 35px;
	}

	#divider3 {
		height: 8px;
		width: 100%;
		background-color: #4aaaa5;
	}

	footer {
		height: 150px;
		width: 100%;
		background-color: #777777;
	}

	#copyright {
		padding-top: 10px;
		padding-left: 47%;
		color: #cccccc;
		font-size: 12px;
	}

	.portfolio-sign {
		height: 50px;
		width: 300px;
		margin-top: -60px;
		float: left;
		align-self: center;
		padding-top: 10px;
		padding-left: 120px;
		background-color: #4aaaa5;
		color: white;
		z-index: 2;
		position: relative;
	}

	.portfolio-sign_game {
		height: 50px;
		width: 300px;
		margin-top: -60px;
		float: left;
		align-self: center;
		padding-top: 10px;
		padding-left: 75px;
		background-color: #4aaaa5;
		color: white;
		z-index: 2;
		position: relative;
	}

	#image-family {
		z-index: 1;
		position: relative;
	}

	h3 {
		font-size: 13px;
		margin-left: 35px;
		color: #777777;
	}

	input {
		margin-left: 35px;
		font-size: 10px;
	}

	button {
		margin-left: 35px;
		margin-top: 22px;
		color: white;
		background-color: #4aaaa5;
		font-size: 13px;
	}