body {
	padding: 0;
	margin: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 17px;
	line-height: 135%;
	color:	#777777;
	background: white;
  }

  .container { 
	  width: 960px;
  }
  
  h1 {
	width: 350px;
	height: 100px;
	padding-left: 20px;
	padding-top: 35px;
	margin-top: 0px;
	margin-left: 45%;
	font-size: 28px;
	color: white;
	text-align: center;
	background: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
   }

   h2 {
	width: 350px;
	height: 100px;
	padding-left: 20px;
	padding-top: 35px;
	margin-left: 16%;
	font-size: 28px;
	color: #4aaaa5;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
   }

   .container {
	   margin: 0px;
	   border: 0px;
	   padding: 0px;
   }

   .navbar {
	   width: 1450px;
	   margin-top: 0px;
   }

   .navbar-brand {
	   height: 97px;
	   margin-top: 0px;
	   margin-top: 0px;
	   margin-left: 10%;   
   }

   .collapse {
	   margin-right: 20%;
   }

   .jumbotron {
	   width: 1450px;
	   background-image: url(../images/concrete-texture/concrete-texture.png);
   }

   .about-me__container {
	background: white;
	height: 500px;
	width: 831px;
	margin-left:283px;
	margin-right:283px;
	border: 1px #cccccc solid;
}

    a:hover {
    color: rgb(214, 22, 22);
	}

	a:focus {
		color: blue;
	}

	a:active {
		color: yellow;
	}


    .divider {
		height: 3px;
		width: 1450px;
		background-color: #cccccc;
	}


	#divider2 {
		height: 3px;
		width: 830px;
		background-color: #cccccc;
		padding-left: 35px;
		margin-top: 70px;
		margin-left: 35px;
	}

	.img-responsive {
		height: 50px;
		width: 75px;
		margin: 0 auto;
		float: left;
		align-self: center;
		padding-top: 50px;
		padding-left: 35px;
	}

	.img-family {
		height: 250px;
		width: 350px;
		margin: 0 auto;
		float: left;
		align-self: center;
		padding-top: 50px;
		padding-left: 35px;
	}

	#autobiography {
		height: 200px;
		width: 750px;
		margin: 0 auto;
		float: left;
		align-self: center;
		padding-top: 50px;
		padding-left: 150px;
	}

	#autobiography2 {
		height: 100px;
		width: 800px;
		align-self: center;
		padding-top: 50px;
		padding-left: 35px;
	}

	#divider3 {
		height: 8px;
		width: 100%;
		background-color: #4aaaa5;
	}

	footer {
		height: 150px;
		width: 100%;
		background-color: #777777;
	}

	#copyright {
		padding-top: 50px;
		padding-left: 700px;
		color: #cccccc;
		font-size: 12px;
	}

	.portfolio-sign {
		height: 50px;
		width: 300px;
		margin-top: -60px;
		float: left;
		align-self: center;
		padding-top: 10px;
		padding-left: 120px;
		background-color: #4aaaa5;
		color: white;
		z-index: 2;
		position: relative;
	}

	#image-family {
		z-index: 1;
		position: relative;
	}

	h3 {
		font-size: 13px;
		margin-left: 35px;
		color: #777777;
	}

	input {
		margin-left: 35px;
		font-size: 10px;
	}

	#textbox {
		width: 600px;
		height: 105px;
	}

	button {
		margin-left: 35px;
		margin-top: 22px;
		color: white;
		background-color: #4aaaa5;
		font-size: 13px;
	}